PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_NAME=banco_talentos_senai
DB_USER=root
DB_PASSWORD=usbw
DB_SYNC_ALTER=true
JWT_SECRET=troque_esta_chave_em_producao
JWT_EXPIRES_IN=8h
AUTO_SEED_ADMIN=true
ADMIN_NAME=Pedagogo SENAI
ADMIN_EMAIL=pedagogo@senai.com
ADMIN_PASSWORD=123456
